body{
    margin-top: 5px;
    background-image: url(IMAGE/backgrond.png);
    background-size: cover;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    place-items: center;   
} 
.name{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 55);
    opacity: 0.5;
    position: relative;
    border: 3px solid green;
    border-radius: 16px;
    width: 80%;
}
.button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    opacity: 0.5;
    position: relative;
    border: 3px solid green;
    border-radius: 16px;
}
button{
    width: 150px;
    height: 35px;
    color: black;
    background-color: yellowgreen;
    border-radius: 14px;
}
.text{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    opacity: 0.5;
    position: relative;
    border: 3px solid green;
    border-radius: 16px;
    width: 70%;
}
