body{
    
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(41, 43, 40);
}
p{
    margin: auto;
}
header{
    background-color: dimgray;
    margin: auto;
    width: 90%;
    margin-top: 1%;
    border-radius: 15px;
}
#location{
    margin: auto;
    display: flex;
    width: 90%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
}
.location{
    border: 2px solid rgb(39, 39, 39);
    background-color: rgb(26, 25, 25);
    color: white;
    margin: auto;
    border-radius: 15px;
}
.welcome{
    margin-left: 35%;
    font-family: sans-serif
}
.all-post{
    display: flex;
    background-color: gray;
    margin: auto;
    margin-top: 1%;
    width: 90%;
    border-radius: 15px;
}
.all-post h3{
    margin: auto;
    margin-left: 30%;
    font-family: sans-serif
}
.game{
    width: 90%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 0%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
}
.game video{
    border-radius: 10%;
    margin: auto;
    margin-left: 15%;
    padding: 0%;
    width: 70%;
    border: 2px solid rgb(179, 255, 0);
}
.game img{
    border-radius: 10%;
    margin: auto;
    margin-left: 15%;
    padding: 0%;
    width: 70%;
    border: 2px solid rgb(179, 255, 0);
}
.game h2{
    font-family: sans-serif;
}
.game button{
    margin: auto;
    margin-left: 35%;
    border-radius: 5px;
    border-color: grey;
    background-color: grey;
    border: 2px solid rgb(71, 71, 71);
}
.item{
    margin: auto;
    width: 50%;
    display: flex;
    text-align: center;
}
.item img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 3px solid gold;
}
.item h4{
    margin: auto;
    padding: 2px;
    text-align: center;
}
.support{
    margin: auto;
    width: 90%;
}
footer{
    background-color: dimgray;
    margin: auto;
    border-radius: 15px;
    width: 90%;
    font-family: sans-serif;
    margin-top: 1%;
}
.information{
    background-color: rgb(66, 66, 66);
    margin: auto;
    border-radius: 15px;
    width: 90%;
}
.information h3{
    margin: auto;
    margin-left: 45%;
    
    color: yellow;
}
.information p {
    margin: auto;
    text-align: center;
    color: white;
}
.item2{
    /*margin: auto;*/
    margin-left: auto;
    margin-right: 40px;
}
