body{
    background-image: url(../IMAGE/backgrond.png);
    background-size: cover;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    place-items: center;
}

.all_post{
    margin-top: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 80%;
    place-items: center;
    background-color: black;
    opacity: 0.75;
}
.text{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    position: relative;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 80%;
    place-items: center;

}
button{
    background-color: black;
    color: white;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    
}
img{
    border-radius: 16px;
    color: white;
}
.post{
    width: 90%;
    background-color: white;
    border-radius: 16px;
    margin-top: 25px;
    place-items: center;
}
